.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.calendar-wrapper {
  width: 100vw;
  height: 70vh;
  margin-top: 5vh;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-toolbar .left-section {
  display: flex;
  align-items: center;
}

.custom-toolbar .right-section {
  display: flex;
}

.custom-toolbar .current-date {
  margin-left: 10px;
}
