.calendar-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

.calendar-wrapper {
  width: 100vw;
  height: 60vh;
  margin-top: 5vh;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-toolbar .left-section {
  display: flex;
  align-items: center;
}

.custom-toolbar .right-section {
  display: flex;
}

.custom-toolbar .current-date {
  margin-left: 10px;
}

.event-container {
  position: fixed;
  top: 72%;
}

.input-year {
  padding: 6px 14px;
  font-size: 20px;
  width: 50px;
  margin-bottom: 6px;
}

.input-day {
  padding: 6px 14px;
  font-size: 20px;
  width: 24px;
  margin-bottom: 6px;
}

.left-right-container {
  max-width: 1200px;
  /* 最大幅を設定 */

  position: fixed;
  /* 位置を固定 */
  width: 100%;
  /* 幅を100%に設定 */
  top: 72%;
  /* 上からの位置を設定 */
}

.right {
  position: fixed;
  right: 3%;
  top: 68%;
  background-color: #f9f9f9;
  padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left {
  position: fixed;
  left: 6%;
  top: 69%;
}
