.palette-container {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.5);
}

.add-button {
  margin-bottom: 10px;
}

.add-color-form {
  margin-bottom: 10px;
}

.color-palette {
  display: flex;
}

.color-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.color-button {
  width: 80px;
  height: 55px;
  text-align: center;
}

.remove-button {
  position: absolute;
  top: -10px;
  right: 73px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 30px;
}

.color-text {
  color: black;
  text-align: center;
  margin-top: 5px;
}
