button {
  padding: 6px 14px;
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #008abd;
  border: 2px solid #001867;
  border-radius: 50px;
  transition: background 0.3s, border-color 0.3s, color 0.3s;
  cursor: pointer;
}

/* ホバー時のスタイル */
.button:hover {
  background: linear-gradient(to right, #2980b9, #1f618d);
  border-color: #003152;
}
